
.grid-parent { 
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid { 
    margin:  auto;
    display: grid;
    grid-template-columns: repeat(50, minmax(10px, 1fr));
    grid-template-rows: repeat(30);
    padding: 2px;
}

.cell { 
    width: 30px;
    height: 30px;
    background-color: white;
    border-right: 1px solid lightblue;
    border-top: 1px solid lightblue;
    display: flex;
    align-items: center;
    justify-content: center;
    

}
    
.cell:hover {
    background-color: white;
}

.cell:active {
    background-color: #d90429;
}

.cell-wall { 
    width: 30px;
    height: 30px;
    border-right: 1px solid black;
    border-top: 1px solid black;
}   