
:root { 
  --width: 28px
}

.grid { 
  display: grid;
  grid-template-columns: repeat(60, minmax(10px, 1fr));
  grid-template-rows: repeat(60);
  border-collapse: collapse;
  max-width: 1700px;
}

.cell { 
  max-width: var(--width);
  height: var(--width);
  background-color: #EDF2F4;
  outline: 1px solid lightblue;
  display: flex;
}
  
.wall { 
  height: var(--width);
  outline: 1px solid lightblue;;
  transition: background-color 0.5s ease-out;;
  animation: grow 5s forwards;
  background-color: black;
}

.startNode,
.endNode {
  width: 1.5vw;
  max-width: var(--width);
  height: var(--width);
  background-color: #EDF2F4;
  outline: 1px solid lightblue;
  font-size: min(1vw, 20px);
  background-image: url('./images/target.png');
  background-position: center;
  background-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;

}

.startNode { 
  background-image: url('./images/arrow.png');
  background-size: 20px;
  background-repeat: no-repeat;
}

.wall:before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);  
  border-radius: 50%;  
  background-color: black; 
  transition: transform 0.5s ease-in-out;  
  animation: grow 5s forwards;
}


.path { 
  height: var(--width);
  outline: 1px solid lightblue;
  background-color: yellow;
  display: flex;
  align-items: center;
  justify-content: center;
}

.path{
  animation-name: pathAnimation;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
  outline: 1px solid #FFE134;
}

@keyframes pathAnimation {
  0% {
    transform: scale(.3);
    background-color: #FE5A1C;
  }

  50% {
    transform: scale(1.2);
    background-color: #FF9E28;
  }

  100% {
    transform: scale(1.0);
    background-color: #FFE134;
  }
}



.visitedPath { 
  outline: 1px solid lightblue;
  height:var(--width);
  display: flex;
  align-items: center;
  justify-content: center;
}

.visitedNodePurple{
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  animation-name: visitedStartNodePurpleAnimation;
  animation-duration: 2.0s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes visitedStartNodePurpleAnimation {
  0% {
    transform: scale(.3);
    background-color: rgba(41, 4, 24, 0.75);
    border-radius: 100%;
  }

  50% {
    background-color: rgba(97, 0, 20, 0.75);
    
  }

  75% {
    transform: scale(1.2);
    background-color: rgba(216, 5, 141, 0.75)
  }

  100% {
    transform: scale(1.0);
    background-color: rgba(178, 67, 255, 0.75);
  }
}


.wall{
  animation-name: wallAnimation;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
  outline: 1px solid #14213d;
}

@keyframes wallAnimation {
  0% {
    transform: scale(.3);
    background-color: #14213d;
  }

  50% {
    transform: scale(1.2);
    background-color: #14213d;
  }

  100% {
    transform: scale(1.0);
    background-color: #14213d;
  }
}