li { 
    list-style-type: none;
}


.nav-bar { 
    display: flex;
    background-color: #14213d;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
   
    font-size: 16px;
    margin-bottom: 10px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.nav-item { 
    
    height: 100%;
    cursor: pointer;
    margin-left: 30px;
    padding: 20px;
    font-weight: bold;
}
.nav-item:hover { 
    color: #fb8500;
    transition: color 0.2s ease-in;
} 

body { 
    background: #edf2f4;
    transition: 0.5s;
}

.play-button { 
    background: #fb8500;
    border-radius: 10px;
    padding-top: 14px;
    padding-bottom: 14px;
}
.play-button:hover { 
    background-color: #ffb703;
    transition: background-color 0.2s ease-in;
    color: white; 
} 

.header { 
    position: absolute;
    left: 2%;
    font-size: 30px; 
    padding-left: 10px;
}

@media (max-width: 1024px) {
    .header {
    display: none;
    }
  }

ul { 
    display: flex;
    justify-content: center; 
    align-items: center;
}

.nav-link {
    position: relative;
    color: white; 
    text-decoration: none;

}
.nav-link:hover { 
    color: #fb8500;
    transition: color 0.2s ease-in;
    
}
.nav-active {
    background-color: #fb8500;
    transition: background-color 0.2s ease-in;
    height: 100%;
    cursor: pointer;
    border-radius: 10px;
    margin-left: 30px;
    padding: 20px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.dropdown-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 5%;
    margin-left: 30px;
    background-color: #14223D;
    min-width: 160px;
    z-index: 1;

  }

  .gen { 
    border: 1px solid #fb8500;
    border-radius: 10px;
  }

.drop-item { 
    color: white;
    text-decoration: none;
    padding: 10px; 
}
.drop-item:hover { 
    background-color: #fb8500;
    transition: background-color 0.2s ease-in;
}

.arrow { 
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 5px;
    vertical-align: middle;
    border-top: 8px solid;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
}

.ledger { 
    display: flex; 
    justify-content: space-around;
    align-items: center;
    margin: 20px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.ledger-item { 
    display: flex; 
    align-items: center;
}

.ledger-wall { 
    width: 30px;
    height: 30px;
    outline: 1px solid lightblue;;
    background-color: black;
    margin-right: 10px;     
}